<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Players</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Bob</string>
			<key>Money</key>
			<integer>1337</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>LinO_dska</string>
			<key>Money</key>
			<integer>1000000</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jenkins</string>
			<key>Money</key>
			<integer>1488</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kelly</string>
			<key>Money</key>
			<integer>5</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ali</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>player(1)</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Harry</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Frenk</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sir</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Khalisi</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Desk</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Golum</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Wins</key>
			<integer>5</integer>
			<key>Loses</key>
			<integer>4</integer>
		</dict>
	</array>
</dict>
</plist>
